# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Visual Studio files
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
Debug/
Release/
x64/
x86/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Logs
*.log

# Temporary files
*.tmp
*.temp
